@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

/* navbar */

.navbar {
    box-shadow: 0px 5px 10px 0px #aaa;
    position: fixed;
    width: 100%;
    background: #fff;
    color: #000;
    opacity: 0.85;
    height: 50px;
    z-index: 12;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.logo {
    order: 1;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    margin-left: 30px;
}

.menubar {
    order: 2;
    display: flex;
    margin-right: 30px;
}

.menubar li {
    list-style: none;
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.menubar a {
    text-decoration: none;
    color: #444;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.menubar a:hover {
    color: #e84401;
    transition: color 0.2s ease-in-out;
}

/* showcase */

.showcase-area {
    position: relative;
    background: linear-gradient(rgba(240, 240, 240, 0.144), rgba(255, 255, 255, 0.336)), 
                url(../images/hero-image.jpg) no-repeat center;
    background-size: cover;
    height: 650px;
    overflow: hidden;
}

.showcase-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.showcase-container h1 {
    margin: 0;
    font-size: 3.0rem;
}

.showcase-container h1 span {
    border: 6px solid #fff;
    padding: 6px 14px;
    display: inline-block;
}

.cen {
    margin: 20px;
    display: block;
    font-size: 2rem;
}

.button {
    color: #313131;
    padding: 10px 24px;
    background: #f1f1f1;
    text-decoration: none;
    border-radius: 12px;
    transition: .6s;
}

.button:hover {
    background: #e84401;
    transition: 0.2s ease-in-out;
}


/* about us */

#about {
    background: rgb(220, 220, 220);
    font-weight: 900;
}

.about-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0px 30px 0px;
}

.about-title {
    text-align: center;
    font-size: 2.4rem;
}

#about h3 {
    font-size: 2.2rem;
}

.about-img {
    flex: 1 1 400px;
    padding: 30px;
}

.about-text {
    flex: 1 1 400px;
    padding: 30px;
    margin: auto;
    font-size: 1.2rem;
}

.about-img img {
    display: block;
    max-width: 100%;
}

/* pizza menu */

#menu {
    font-weight: 900;
}
.pizza-menu {
    text-align: center;
    font-size: 2.4rem;
}

.pizza-menu-container {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
}

.pizza-menu-container img {
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.pizza-menu-item {
    display: flex;
    flex: 1 1 600px;
    justify-content: space-evenly;
    margin-bottom: 3rem;
}
.pizza-description {
    margin: auto 1.5rem;
}

.pizza-title {
    font-size: 1.8rem;
}

.pizza-description p {
    font-size: 1.4rem;
}

.pizza-description .pizza-price {
    color: red;
}

/* bookings */

#bookings {
    font-weight: 400;
    color: #fff;
    letter-spacing: 1px;
}

.container {
    background-color: rgb(220, 220, 220);
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.1);
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
}

.container-time {
    background-color: rgba(0, 0, 0, 0.95);
    padding: 50px;
    outline: 3px dashed #998100;
    outline-offset: -30px;
    text-align: center;
}

.heading {
    font-size: 1.8rem;
    text-transform: uppercase;
}

.heading-days {
    color: #998100;
    font-size: 1.6rem;
}

hr {
    margin-top: 2em;
    margin-bottom: 2em;
}

.heading-phone .heading-address{
    font-size: 1.6rem;
}

.container-form {
    padding: 20px 0;
    margin: 0 auto;
    color: #000;
}

form {
    display: grid;
    row-gap: 20px;
}

.form-field {
    display: flex;
    justify-content: space-between;
}

input, select {
    padding: 10px 15px;
}

.btn {
    background-color: rgba(0, 0, 0, 0.95);
    color: #fff;
    padding: 10px 20px;
    border: none;
    font-size: 1.2rem;
    border-radius: 100px;
    box-shadow: 8px 10px 12px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all .3s;
}

.btn:hover {
    transform: scale(1.03);
    box-shadow: 10px 12px 15px rgba(0, 0, 0, 0.3);
}

/* footer */

.social-media {
    padding: 40px;
    text-align: center;
}

.social-media a {
    font-size: 2.4rem;
    color: inherit;
    border: 1px solid #000;
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 70px;
    opacity: 0.75;
}

.social-media a:hover {
    opacity: 0.9;
}

/* media queries */

@media screen and (max-width: 605px) {
    .logo, .menubar li {
        font-size: 1rem
    }
}

@media screen and (max-width: 1070px) {
    .social-media a {
        margin: 0 30px;
    }
}

@media screen and (max-width: 665px) {
    .social-media a {
        margin: auto;
    }
}